html {
    font-family: monospace;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 700;
    background-color: #F1F1F1;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #F1F1F1;
}

#side {
    width: 50%;
    height: 100%;
}

#side > div{ 
    height: 50vh;
}

#welcome {
    width: 50%;
    height: 100vh;
    font-size: 4em;
    align-self: center;
    padding-left: 20px;
    background-color: #F1F1F1;
    color: #000000;
}

#welcome > h1 > a {
    background-color: #FF5714;
    color: #ffffff;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

#card {
    background-color: #F1F1F1;
    color: #000000;
    margin: 0px;
    font-size: 2em;
    margin-left: 50px;
    padding: 12px 24px;
}

#contact {
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 3em;
    line-height: 1.5em;
    background-color: #0075a2;
}

#contact > a {
    width: fit-content;
    padding: 0 5% 0 45%;
    margin-top: 5px;
    background-color: #ffffff;
    color: #000000;
}

#contact > a:hover {
    background-color: #FF5714;
    color: #ffffff;

}