html {
    overflow: hidden;
}

h1, h2, h3, p, a {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg.svg');
    background-size: cover;
}

.nav-bar {
    display: inline-flex;
    position: fixed;
    width: 100%;
    height: 44px;
    padding: 20px;
    align-items: center;
    background-color: #000000;
}

.nav-title {
    font-size: 24pt;
    padding-left: 0.5em;
    color: #ffffff;
}

.nav-icon {
    width: 64px;
    filter: invert();
}

.container {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.item {
    display: flex;
    flex-flow: column;
    width: 30%;
    height: 100%;
    margin: 0px 24px 0px 24px;
}

.intro {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro h1 {
    font-size: 4em;
    line-height: 1;
    text-transform: uppercase;
}

.intro p {
    font-size: 1.2em;
}

.socials {
    display: inline-flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.socials ul {
    display: inline-flex;
}

.socials li {
    font-size: 3em;
    list-style: none;
    padding-left: .25em;
}

.socials a {
    color: #ffffff;
}

.socials a:hover {
    color: orangered;
}