html {
    font-family: 'Amatic SC', cursive;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 700;
    background-color: #f1faee;
    -webkit-font-smoothing: antialiased;
}

.center {
    justify-content: center;
    align-items: center;
}

.nav-bar {
    display: inline-flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #e63946;
    color: #ffffff;
}

.nav-bar a {
    font-size: 2.5em;
    color: #e63946;
    text-decoration: none;
    padding: 0 25px 0 25px;
    text-shadow: 1px 1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px 0px 0 #ffffff, 0px 1px 0 #ffffff, -1px 0px 0 #ffffff, 0px -1px 0 #ffffff, 1px 1px 1px rgba(255, 0, 0, 0);
}

.nav-bar a:hover {
    color: #ffffff;
    text-shadow: none;
}

.nav-links {
    display: inline-flex;
    list-style: none;
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #ffffff;
    padding: 4px;
    outline-offset: 0px;
}

.container {
    display: flex;
    flex-flow: column;
    height: 300vh;
}

.page div {
    display: flex;
    width: 100%;
    height: 100vh;
}

.landing {
    display: flex;
    flex-flow: column;
    color: #457b9d;
}

.socials {
    display: flex;
    background-color: #e63946;
}

.projects {
    display: flex;
    background-color: #457b9d;
}

.introduction {
    display: flex;
    flex-flow: column;
    width: 500px;
    height: 500px;
    line-height: 0;
}

.title {
    font-size: 6em;
}

.subtitle {
    font-size: 2em;
}